.email{
    text-align: left;
}

.login-form-holder{
    width: 90%;
    margin: 0 auto;
}

.failed-login{
    color: red;
}

.buttons-div{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
    justify-content: space-between;
}

.buttons-div > *{
    width: 35%;
}