.products-container{
    width: 85vw;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    width: 100%;
}

.paginator{
    justify-content: center;
    margin: 2% 0;
}